/**
 *
 * @author Jhonatan Jose Acalón Ajanel <jacalon-2021048@kinal.edu.gt>
 * @date 19/07/2022
 * @time 07:51:59
 * @codigo IN5BM
 * @jornada Matutina
 * @grupo 1
 */

.etiquetas{
    -fx-font-weight:bold;
    -fx-text-fill:#FFFF00;
}

#AnchorPane{
    -fx-background-color:#0A0B37;
}